:root {
    --primary-color: #4CAF50;
    --secondary-color: #45a049;
    --text-color: #333;
    --card-bg: rgba(255, 255, 255, 0.9);
    --modal-bg: rgba(255, 255, 255, 0.95);
    --bg-color: #92d195;
    --header-bg: rgba(255, 255, 255, 0.266);
    --header-border: rgba(200, 200, 200, 0.25);
    --dropdown-bg: rgba(255, 255, 255, 0.95);
    --dropdown-border: #e0e0e0;
    --dropdown-hover: #f5f5f5;
    --input-bg: white;
    --input-shadow: rgba(0, 0, 0, 0.1);
    --modal-shadow: rgba(0, 0, 0, 0.1);
    --default-font: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--bg-color);
    font-family: var(--default-font);
    color: var(--text-color);
}

header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: relative;
}

.content .logo {
    width: 140px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.main-header {
    position: sticky;
    background: var(--header-bg);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    z-index: 999;
}

.back-blur {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    min-height: 100dvh;
    filter: blur(4px);
    background-image: url('data:image/svg+xml;utf8,<svg width="120" height="104" viewBox="0 0 120 104" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 10 Q 15 -10, 30 10 T 60 10 T 90 10 T 120 10" stroke="%2340a060" stroke-width="2" fill="none"/><path d="M0 26 Q 15 6, 30 26 T 60 26 T 90 26 T 120 26" stroke="%2340a060" stroke-width="2" fill="none"/><path d="M0 42 Q 15 22, 30 42 T 60 42 T 90 42 T 120 42" stroke="%2340a060" stroke-width="2" fill="none"/></svg>');
}

/* SEARCH */

.search-pokemon-container {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 2rem;
}

.search-pokemon-container .search-input-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
}

.search-input-wrapper input {
    width: 400px;
    padding: .7rem 1rem;
    outline: none;
    border: none;
    border-radius: 20px;
}

.search-input-wrapper input:focus {
    box-shadow: 5px 5px 5px var(--input-shadow);
}

.search-input-wrapper button {
    all: unset;
    position: absolute;
    right: 10rem;
    top: -3px;
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
    opacity: 0;
}

.search-input-wrapper button.show{
    opacity: 1;
}

/* LOADINGZIN MEIA BOCA, MAS BEM FEITO */

.loading-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: 100dvh;
    z-index: 9999;
    background: rgba(23, 25, 24, 0.688);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
}

.loading-overlay .spinner {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 6px solid var(--dropdown-border);
    border-top-color: var(--primary-color);
    
    animation: spin 1s linear infinite;
}   

@keyframes spin {
    from {
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(360deg);
    }
}