:root {
    --primary-color: #4CAF50;
    --secondary-color: #45a049;
    --text-color: #333;
    --card-bg: rgba(255, 255, 255, 0.9);
    --modal-bg: rgba(255, 255, 255, 0.95);
    --bg-color: #92d195;
    --header-bg: rgba(255, 255, 255, 0.266);
    --header-border: rgba(200, 200, 200, 0.25);
    --dropdown-bg: rgba(255, 255, 255, 0.95);
    --dropdown-border: #e0e0e0;
    --dropdown-hover: #f5f5f5c8;
    --input-bg: white;
    --input-shadow: rgba(0, 0, 0, 0.26);
    --modal-shadow: rgba(0, 0, 0, 0.1);
    --default-font: "Poppins", sans-serif;

    

    --type-color-normal: #A8A878;
    --type-color-fire: #F08030;
    --type-color-water: #6890F0;
    --type-color-electric: #F8D030;
    --type-color-grass: #78C850;
    --type-color-ice: #98D8D8;
    --type-color-fighting: #C03028;
    --type-color-poison: #A040A0;
    --type-color-ground: #E0C068;
    --type-color-flying: #A890F0;
    --type-color-psychic: #F85888;
    --type-color-bug: #A8B820;
    --type-color-rock: #B8A038;
    --type-color-ghost: #705898;
    --type-color-dragon: #7038F8;
    --type-color-dark: #705848;
    --type-color-steel: #B8B8D0;
    --type-color-fairy: #EE99AC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--bg-color);
    font-family: var(--default-font);
    color: var(--text-color);
}

header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
}

.content .logo {
    width: 120px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    position: sticky;
    top: 0;
}

.main-header {
    background: rgba(233, 233, 233, 0.667);
    box-shadow: 0 10px 15px var(--modal-shadow);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    z-index: 999;
}

.back-blur {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    min-height: 100dvh;
    filter: blur(4px);
    background-image: url('data:image/svg+xml;utf8,<svg width="120" height="104" viewBox="0 0 120 104" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 10 Q 15 -10, 30 10 T 60 10 T 90 10 T 120 10" stroke="%2340a060" stroke-width="2" fill="none"/><path d="M0 26 Q 15 6, 30 26 T 60 26 T 90 26 T 120 26" stroke="%2340a060" stroke-width="2" fill="none"/><path d="M0 42 Q 15 22, 30 42 T 60 42 T 90 42 T 120 42" stroke="%2340a060" stroke-width="2" fill="none"/></svg>');
}

/* SEARCH */

.search-pokemon-container {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 1rem;
}

.search-pokemon-container .search-input-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
}

.search-input-wrapper input {
    width: 400px;
    padding: .7rem 1rem;
    outline: none;
    border: none;
    border-radius: 20px;
}

.search-input-wrapper input:focus {
    box-shadow: 5px 5px 5px var(--input-shadow);
}

.search-input-wrapper button {
    all: unset;
    position: absolute;
    right: 10rem;
    top: 2px;
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
    display: none;
}

/* LOADINGZIN MEIA BOCA, MAS BEM FEITO */

.loading-overlay{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: 100dvh;
    z-index: 999;
    background: rgba(23, 25, 24, 0.688);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 1;
}

.loading-overlay .spinner {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 6px solid var(--dropdown-border);
    border-top-color: var(--primary-color);
    
    animation: spin 1s linear infinite;
}   


/* ESTILIDANDO OS CARDS DOS POKES ( POKE-CARD, POKEMONS-GRID, IMG, ETC )  */

.pokemon-grid {
    /* min-height: 100vh;
    min-height: 100dvh; */
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
    
    margin: 0 auto;
}

.poke-card {
    background-color: var(--card-bg);
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 0 4px 6px var(--input-shadow);
}

.poke-card img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 1rem;
    transition: transform .3s ease-in-out;
}

.poke-card:hover img {
    transform: scale(1.1);
}

.poke-card h3 {
    text-transform: capitalize;
    margin-bottom: .5rem;
    color: var(--text-color);
}

/* ESTILIZANDO OS BADGES DOS TIPOS */

.pokemon-types {
    display: flex;
    justify-content: center;
    gap: .4rem;
}

.type-badge {
    padding: .1rem .8rem;
    border-radius: 1rem;
    color: white;
    font-weight: 500;
}

/* ERRO POKEMON NAO ENCONTRADO */

.card-not-found {
    height: 100px;
    width: 300px;
    background-color: var(--input-bg);
    border-radius: 1rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    left: 27rem;
}

/* MODAL */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    
    height: 100vh;
    height: 100dvh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(0, 0, 0, 0.601);

    display: none;

    animation: fadeIn 0.3s ease;
}
.modal .modal-content {
    position: relative;
    max-height: 700px;
    min-width: 350px;
    max-width: 450px;

    background-color: var(--dropdown-hover);
    box-shadow: 0 4px 6px var(--input-shadow);
    backdrop-filter: blur(30px);

    border-radius: 1rem;
    padding: 1rem;
}

.modal-content span {
    position: absolute;

    display: flex;
    justify-content: flex-end;

    top: .4rem;
    right: 1rem;
    cursor: pointer;
}

.modal-body {
    margin-top: 1rem;
}

.modal-body img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}

.modal-body h3 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 1rem 0;
}

.pokemon-details {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
    margin-top: 1rem;
    animation: fadeIn .5s ease-out;
}

.detail-items {
    background: rgba(76, 175, 79, 0.308);
    padding: .5rem;
    border-radius: 8px;
    text-align: center;
}

.detail-items strong {
    display: block;
    color: var(--primary-color);
    margin-bottom: .3rem;
}

/* ANIMACOES */

@keyframes spin {
    from {
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}